.usersContainer{
    max-width: 1040px;
    margin: auto;
    padding: 20px 0;
}

.userDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 16px;
    margin: 12px 0;
    padding-right: 16px;
    background-color: lightgray;
    box-shadow: 0 0 4px gray;
    
    .profileDiv{
        width: 840px;
        padding: 12px;
        display: flex;
        align-items: center;
    }

    img{
        width: 60px;
        border-radius: 50%;
        background-color: whitesmoke;
    }
    
    h3{
        color: black;
        padding-left: 8px;
    }
}