.myProfile{
    min-height: 80vh;
    margin: 20px;
    display: flex;
    align-items: flex-start;
    gap: 40px;

    img{
        max-width: 280px;
    }
}

.profileDiv{
    height: auto;
    border: 1px solid gray;
    box-shadow: 0 0 8px gray;
    padding: 20px;
    background-color: lightgray;

    p{
        padding: 4px 0;
    }
}

.changeDiv{
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 4px 0;
}

.buttonsDiv{
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 0;
}

.editBtn, 
.uploadBtn,
.logOutBtn{
    width: 60px;
    height: 32px;
    font-size: 20px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    box-shadow: 0 0 4px gray;
    cursor: pointer;
    transition: .3s;

    &:hover{
        background-color: gray;
    }
}

.uploadBtn{
    align-content: center;
}

.btnDiv{
    display: flex;
    align-items: center;
    gap: 8px;

    .messBtn{
        width: 100%;
        height: 40px;
        border: none;
        font-size: 18px;
        color: white;
        background-color: gray;
        border-radius: 8px;
        cursor: pointer;
        transition: .3s;
        
        &:hover{
            background-color: #444;
        }
    }
}

