.loginSec{
    min-height: 80vh;
}

.loginDiv{
    background-color: lightgray;
    border: 1px solid black;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 8px gray;

    h2{
        margin-bottom: 8px;
    }

    .monkey{
        width: 110px;
        height: 100px;
    }

    input{
        width: 100%;
        height: 40px;
        padding: 0 8px;
        font-size: 16px;
        outline: none;
        margin: 4px 0;
    }

    .loginBtn{
        width: 100%;
        height: 40px;
        font-size: 18px;
        margin: 4px 0;
        background-color: white;
        border: 1px solid black;
        box-shadow: 0 0 4px gray;
        cursor: pointer;
        transition: .3s;
    
        &:hover{
            background-color: gray;
        }
    }

    .errorMsg{
        font-size: 14px;
        color: red;
        text-align: left;
        margin: 4px 0;
    }
}

.captchaDiv{
    display: flex;
    align-items: end;
    gap: 8px;
    margin: 4px 0;

    .captchaImg{
        width: 120px;
        font-size: 0;
        border: 1px solid gray;
    }

    .changeBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        font-size: 18px;
        background-color: white;
        border: 1px solid gray;
        cursor: pointer;
        transition: .3s;

        &:hover{
            background-color: lightgray;
        }
    }

    .checkboxLabel{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .check{
        width: 24px;
        height: 24px;
        margin: 0;
    }
}


.passDiv {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 4px 0;
    background-color: white;
    
    .passField {
        height: 38px;
        border: none;
    }
}

.eye {
    font-size: 24px;
    padding: 4px;
    cursor: pointer;
}
