.loginSec{
    min-height: 80vh;
}

.loginDiv{
    border: 1px solid ;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 8px gray;

    h2{
        margin-bottom: 12px;
    }

    input{
        width: 100%;
        height: 40px;
        padding: 0 8px;
        font-size: 16px;
        outline: none;
        margin: 4px 0;
    }

    .loginBtn{
        width: 100%;
        height: 40px;
        font-size: 18px;
        margin: 4px 0;
        background-color: burlywood;
        border: 1px solid black;
        box-shadow: 0 0 4px gray;
        cursor: pointer;
        transition: .3s;
    
        &:hover{
            background-color: wheat;
        }
    }

    .errorMsg{
        font-size: 14px;
        color: red;
        text-align: left;
        margin: 4px 0;
    }
}

.captchaDiv{
    display: flex;
    align-items: end;
    gap: 8px;
    margin: 4px 0;

    .captchaImg{
        width: 140px;
        font-size: 0;
        border: 1px solid gray;
    }

    .changeBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        font-size: 18px;
        background-color: wheat;
        border: 1px solid gray;
        cursor: pointer;
        transition: .3s;

        &:hover{
            background-color: burlywood;
        }
    }
}