
.buttonsDiv{
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 0;
}

.editBtn, 
.uploadBtn,
.logOutBtn{
    width: 60px;
    height: 32px;
    font-size: 20px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    box-shadow: 0 0 4px gray;
    cursor: pointer;
    transition: .3s;

    &:hover{
        background-color: gray;
    }
}

.uploadBtn{
    align-content: center;
}

.editStatus{
    font-size: 20px;
    cursor: pointer;
}